.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background-color: #FDFDFD;
    border-radius: 15px;
    max-width: 500px;
    margin: 20px auto;
}

.inputGroup {
    margin-bottom: 10px;
}

.inputLabel {
    margin-bottom: 5px;
    margin-right: 10px;
}

.inputField {
    padding: 5px;
    width: 150px;
}

.checkboxInput {
    margin: 5px 10px;
}

.calculateButton {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.calculateButton:hover {
    background-color: #45A049;
}

.error {
    color: #CB3535;
    margin: 10px;
    font-style: italic;
}